:root {
    --md-primary-fg-color: #ce4534;
    --md-primary-fg-color--light: #f5b4ac;
    --md-primary-fg-color--dark: #772e25;
}

.lua .lua__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.lua .lua__symbol__list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.lua .lua__symbol, .lua .lua__type {
    font-family: monospace;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    color: var(--md-code-fg-color);
}

.lua .lua__symbol {
    font-weight: bolder;
    background-color:  var(--md-code-bg-color);
}

.lua .lua__type::before {
    content: "(";
}

.lua .lua__type::after {
    content: ")";
}

.lua .lua__realm {
    display: inline-block;
    font-family: monospace;
    font-weight: bolder;
    padding: 0.2em 0.5em;
    border-radius: 0.2em;
    color: var(--md-code-bg-color);
}

.lua__icon {
    display: inline-block;
    width: 10px !important;
    height: 10px !important;
    margin: auto 0;
    border-radius: 0.2em;
}

.lua .lua__realm--client, .lua__icon.lua__realm--client {
    background-color: rgba(255, 202, 58, 0.8);
}

.lua .lua__realm--server, .lua__icon.lua__realm--server {
    background-color: rgba(120, 205, 215, 0.8);
}

.lua .lua__realm--shared, .lua__icon.lua__realm--shared {
    background: linear-gradient(-40deg, rgba(255, 202, 58, 0.8) 50%, rgba(120, 205, 215, 0.8) 50%);
}

.lua .lua__realm--unknown, .lua__icon.lua__realm--unknown {
    background: #b3b3b3;
}

.lua .lua__variable_list {
    list-style-type: none;
    padding-left: 0;
}

.lua .lua__variable_list li {
    margin-bottom: 0.5em;
}

.lua .lua__variable_list li::before {
    content: "•";
    font-size: 1rem;
    color: var(--md-primary-fg-color);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.lua .lua__variable_list__description::before {
    content: "— ";
    margin-right: 0.5em;
}

.lua .lua__variable_list__default {
    font-family: monospace;
    font-weight: bolder;
}

.lua .lua__variable_list__default::before {
    content: "[default: ";
    font-weight: normal;
}

.lua .lua__variable_list__default::after {
    content: "]";
    font-weight: normal;
}
