@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "LightsOut";
    src: url(../fonts/lightout.woff);
}

@font-face {
    font-family: "RomanAntique";
    src: url(../fonts/RomanAntique.woff);
}

@font-face {
    font-family: "RomanAntique";
    src: url(../fonts/RomanAntique-Italic.woff);
    font-style: italic;
}

@keyframes zoom-in {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.2) rotate(2deg);
    }
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: black;

    font-family: "RomanAntique", 'Times New Roman', Times, serif;
    font-size: 1.4em;
    color: white;

    position: relative;
}

body::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    z-index: -1;
    animation: zoom-in 30s infinite linear;
}

.overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: black;
    opacity: 1;

    transition: opacity 1s;
}

body.loaded .overlay {
    opacity: 0.5;
}
